PuzzlePals/[Aa]ssets/Plugins/FMOD/Cache/
PuzzlePals/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
PuzzlePals/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset.meta
PuzzlePals/FMODProject/PuzzlePals/.cache
PuzzlePals/FMODProject/PuzzlePals/.unsaved
